%roboto-700 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

%roboto-500 {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%akrobat-700 {
  font-family: 'Akrobat-Bold';
  font-weight: 700;
}

%akrobat-600 {
  font-family: 'Akrobat-SemiBold';
  font-weight: 500;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


$blue: #1C4685;
$black: #343A43;
$gray: #6A7480;
$light-blue: #A7BCD4;
$light-gray: #F1F5F9;